/*nav*/
.cover-container {
    max-width: 42em;
}


/*
   * Header
   */
.masthead {
    margin-bottom: 1rem;
}

.masthead-brand {
    margin-bottom: 0;
    color: #673ab7;
}

.nav-masthead .nav-link,
.nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: #673ab7;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}


.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #673ab7;
    border-bottom-color: #673ab7;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }

    .nav-masthead {
        float: right;
    }
}

/*nav end -----------------------------------*/

/*Dashboard sidebar*/
.sidebar .active {
    color: black !important;

    background-color: #BAFF29 !important;

    border-radius: 15px;

}

/*Componentes*/
.vuelo_card {
    height: 5rem;
    width: 100vh;
}

/*Background*/

.bg_purple {
    background-color: #673ab7;
}

.bg_green_yellow {
    background-color: #BAFF29;
}

/*Text*/
.text_purple {
    color: #673ab7;
}

.text_white {
    color: white;
}

.text_green_yellow {
    color: #BAFF29;
}

/*Icons*/
.larger_icon {
    transform: scale(9, 1.4);
    font-smooth: always;
}

/*----------*/

.radius_10 {
    border-radius: 10px;
}

.radius_15 {
    border-radius: 15px;
}

.radius_20 {
    border-radius: 20px;
}

.radius_25 {
    border-radius: 25px;
}

.box {
    width: 120px;
    height: 60px;

}

.box_border {
    border: .15rem solid #673ab7;
    padding: .3rem;
}

.bootstrap_icon {
    font-size: 32px;
    color: white
}

.input_text {
    font-size: 0.8rem;
}

.shadow {
    -webkit-box-shadow: 0 6px 4px -4px black;
    -moz-box-shadow: 0 6px 4px -4px black;
    box-shadow: 0 6px 4px -4px black;
}