{% extends 'dashboard.html' %}

{% block content %}
<div class="col-md-10 ">
  <div class="container">

    <div class="row">
      <div class="col text-center pt-4">
        <h1>Listado de Vuelos</h1>
      </div>
    </div>

    <div class="row">
      <div class="col m-2 p-2"></div>
      <div class="col d-inline-flex">
        <input type="text" id="buscar" class="form-control mr-2">
        <button class="btn btn-primary ">Buscar</button>
      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="">
              <th scope="col">ID</th>
              <th scope="col">Destino</th>
              <th scope="col">Origen</th>
              <th scope="col">Capacidad</th>
              <th scope="col">Cupos</th>
              <th scope="col">Avión</th>
              <th scope="col">Piloto</th>
              <th scope="col">Fecha - Hora</th>
              <th scope="col">Estado</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for dat in vuelos %}
            <tr>
              <th scope="row">{{ dat[0] }}</th>
              <td>{{ dat[1] }}</td>
              <td>{{ dat[2] }}</td>
              <td>{{ dat[3] }}</td>
              <td>{{ dat[4] }}</td>
              <td>{{ dat[5] }}</td>
              <td>{{ dat[6] }}</td> 
              <td>{{ dat[7] }}</td>
              <td>{% if dat[8] == 'I'%}Inactivo{% endif%}{% if dat[8] == 'A'%}Activo{% endif%}</td>

              <td><a href="{{ url_for('editar_vuelo', id=dat[0]) }}">Editar</a> - <a href="{{ url_for('eliminar_vuelo', id=dat[0], estado=dat[8]) }}">{% if dat[8] == 'I'%}Mostrar{% endif%}{% if dat[8] == 'A'%}Ocultar{% endif%}</a></td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarVuelo">
      Agregar
    </button>
  </div>

  <!-- Modal agregar vuelo -->
  <div class="modal fade " id="agregarVuelo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar Vuelo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Form de agregar vuelo -->
          <form class="needs-validation" novalidate action="{{url_for('dashboard_vuelos')}}" method="post">

            {% for msg in get_flashed_messages() %}
            <div class='form-row'>
                {{ msg }}
            </div>
            {% endfor %}

            <div class="form-row">
              <div class="col">
                {{form.id.label}}
                {{form.id}}
                <div class="invalid-feedback">
                  El ID es requerido
                </div>
              </div>
              <div class="col">
                {{form.origen.label}}
                {{form.origen}}
                <div class="invalid-feedback">
                  La ciudad de salida es requerida
                </div>
              </div>
              <div class="col">
                {{form.destino.label}}
                {{form.destino}}
                <div class="invalid-feedback">
                  La ciudad de destino es requerida
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{form.cupos.label}}
                {{form.cupos}}
                <div class="invalid-feedback">
                  Los cupos son requeridos
                </div>
              </div>
              <div class="col">
                {{form.avion.label}}
                {{form.avion}}
                <div class="invalid-feedback">
                  El id del avión es requerido
                </div>
              </div>
              <div class="col">
                {{form.piloto.label}}
                {{form.piloto}}
                <div class="invalid-feedback">
                  El id del piloto es requerido
                </div>
              </div>
            </div>

            <div class="form-row">
              
              <div class="col">
                {{form.fechaSalida.label}}
                {{form.fechaSalida}}
                <div class="invalid-feedback">
                  El id del avión es requerido
                </div>
              </div>
              <div class="col"></div>
              <div class="col"></div>
            </div>

          
          <!-- Fin del form agregar vuelo -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          {{form.btn(class='btn btn-primary')}}
        </div>
      </form>

      </div>
    </div>
  </div>
  <!-- Fin del modal de agregar vuelos -->

  <!-- Modal eliminar vuelo  -->
  <div class="modal" tabindex="-1" role="dialog" id="eliminarVuelo">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Vuelo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Esta seguro que desea ocultar el siguiente vuelo? Al ocultarlo los demas usuarios no podrán verlo</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal eliminar vuelo -->

</div>
<script type="module">
  import { class_to_active_link, addCloseToNav } from '../static/js/script.js'

  let dashboard_pages = document.querySelectorAll('div.sidebar > ul > li > a');

  class_to_active_link(dashboard_pages, 'active');
  addCloseToNav();
</script>
{% endblock %}