{% extends 'index.html'%}

{% block body%}
<div class="container d-flex flex-column justify-content-center" style="height: 100vh">
    {% include 'navbar_main.html' %}
    <div class="row d-flex">
        <!--  -->
        <div class="col-md-8 mx-auto">
            <h4 class="mb-3">Registro de usuario</h4>
            <form class="needs-validation" novalidate action="{{url_for('registrarse')}}" method="post">
                {% for msg in get_flashed_messages() %}
                <div class='row'>
                    {{ msg }}
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        {{form.nombre.label}}
                        {{form.nombre}}
                        <div class="invalid-feedback">
                            El primer nombre es requerido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        {{form.apellido.label}}
                        {{form.apellido}}


                        <div class="invalid-feedback">
                            El apellido es requerido
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="mb-3 col-md-6 d-flex flex-column">

                        {{form.usuario.label}}
                        {{form.usuario}}

                    </div>

                    <div class="mb-3 col-md-6 d-flex flex-column">
                        {{form.email.label}}
                        {{form.email}}


                        <div class=" invalid-feedback">
                            Ingresa un correo valido
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        {{form.clave.label}}
                        {{form.clave}}
                        <div class="invalid-feedback">
                            Ingrese la clave
                        </div>
                    </div>
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        {{form.verificacion_clave.label}}
                        {{form.verificacion_clave}}


                        <div class="invalid-feedback">
                            clave requerida
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3 d-flex flex-column">
                        {{form.numero.label}}
                        {{form.numero}}
                        <div class="invalid-feedback">
                            Ingrese un numero de telefono
                        </div>
                    </div>
                </div>

                <hr class="mb-1">
                <div class="row d-flex justify-content-center align-items-center">
                    {{form.btn(class='btn btn-primary')}}

                </div>
            </form>
        </div>
        <!--  -->
    </div>


    {% include 'footer.html' %}
</div>

{% endblock %}