{% extends 'dashboard.html' %}

{% block content %}
<div class="col-md-10">
  <div class="container">

    <div class="row">
      <div class="col text-center pt-4">
        <h1>Listado de Pilotos</h1>
      </div>
    </div>

    <div class="row">
      <div class="col m-2 p-2"></div>
      <div class="col d-inline-flex">
        <input type="text" id="buscar" class="form-control mr-2">
        <button class="btn btn-primary ">Buscar</button>
      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="">
              <th scope="col">ID</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">NickName</th>
              <th scope="col">Correo</th>
              <th scope="col">Celular</th>
              <th scope="col">direccion</th>
              <th scope="col">Fecha de Entrada</th>
              <th scope="col">Tiempo</th>
              <th scope="col">Estado</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Oscar</td>
              <td>Pérez</td>
              <td>oscarperez</td>
              <td>oscar@email.com</td>
              <td>30000000</td>
              <td>Calle 25</td>
              <td>01/01/2021</td>
              <td>24</td>
              <td>Activo</td>
              <td><a href="" data-toggle="modal" data-target="#agregarPiloto">Editar</a> - <a href=""
                  data-toggle="modal" data-target="#eliminarPiloto">Ocultar</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Oscar</td>
              <td>Pérez</td>
              <td>oscarperez</td>
              <td>oscar@email.com</td>
              <td>30000000</td>
              <td>Calle 25</td>
              <td>01/01/2021</td>
              <td>24</td>
              <td>Activo</td>
              <td><a href="" data-toggle="modal" data-target="#agregarPiloto">Editar</a> - <a href=""
                  data-toggle="modal" data-target="#eliminarPiloto">Ocultar</a></td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Oscar</td>
              <td>Pérez</td>
              <td>oscarperez</td>
              <td>oscar@email.com</td>
              <td>30000000</td>
              <td>Calle 25</td>
              <td>01/01/2021</td>
              <td>24</td>
              <td>Activo</td>
              <td><a href="" data-toggle="modal" data-target="#agregarPiloto">Editar</a> - <a href=""
                  data-toggle="modal" data-target="#eliminarPiloto">Ocultar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPiloto">
      Agregar
    </button>
  </div>

  <!-- Modal agregar vuelo -->
  <div class="modal fade " id="agregarPiloto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar Piloto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Form de agregar vuelo -->
          <form>

            <div class="form-row">
              <div class="col">
                <label for="idPiloto">ID</label>
                <input type="number" class="form-control" id="idPiloto" placeholder="ID Piloto">
              </div>
              <div class="col">
                <label for="nameUser">Nombres</label>
                <input type="text" class="form-control" id="nameUser" placeholder="Nombres">
              </div>
              <div class="col">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" id="apellidos" placeholder="Apellidos">
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <label for="email">Correo</label>
                <input type="email" class="form-control" id="email" placeholder="Correo">
              </div>
              <div class="col">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="cupos" placeholder="Password">
              </div>
              <div class="col">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="cupos" placeholder="Direccion">
              </div>

            </div>

            <div class="form-row">
              <div class="col">
                <label for="celular">Celular</label>
                <input type="number" class="form-control" id="celular">
              </div>
              <div class="col">
                <label for="fecha">Fecha de Ingreso</label>
                <input type="date" class="form-control" id="fechaIng">
              </div>
              <div class="col">
                <label for="tiempoC">Tiempo Contrato</label>
                <input type="number" class="form-control" id="tiempoC">
              </div>
              <div class="col">
                <label for="estado">Estado</label>
                <select class="form-control" id="estado">
                  <option> Activo</option>
                  <option> Inactivo</option>
                </select>
              </div>
            </div>




          </form>
          <!-- Fin del form agregar vuelo -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Agregar Piloto</button>
        </div>

      </div>
    </div>
  </div>
  <!-- Fin del modal de agregar vuelos -->

  <!-- Modal eliminar vuelo  -->
  <div class="modal" tabindex="-1" role="dialog" id="eliminarPiloto">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Piloto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Esta seguro que desea ocultar el siguiente Piloto?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal eliminar vuelo -->

</div>
<script type="module">
  import { class_to_active_link, addCloseToNav } from '../static/js/script.js'

  let dashboard_pages = document.querySelectorAll('div.sidebar > ul > li > a');

  class_to_active_link(dashboard_pages, 'active');
  addCloseToNav();
</script>
{% endblock %}