{% extends 'dashboard.html'%}

{% block content%}
<div class="col">
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eligendi, dolores explicabo itaque modi ab odit
        dolorum! Dolorem labore perferendis corrupti corporis exercitationem! Deserunt explicabo consectetur nostrum ex
        veritatis tempore?</p>
</div>
<script type="module">
    import { class_to_active_link, addCloseToNav } from '../static/js/script.js'

    let dashboard_pages = document.querySelectorAll('div.sidebar > ul > li > a');

    class_to_active_link(dashboard_pages, 'active');
    addCloseToNav();
</script>
{% endblock%}