{% extends 'dashboard.html' %}

{% block content %}
<div class="col p-2 m-2">
  <div class="container d-flex flex-column">

    <div class="row">
      <div class="col text-center pt-4">
        <h1>Listado de Usuarios</h1>
      </div>
    </div>

    <div class="row">
      <div class="col m-2 p-2"></div>
      <div class="col d-inline-flex">
        <input type="text" id="buscar" class="form-control mr-2">
        <button class="btn btn-primary ">Buscar</button>
      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="">
              <th scope="col">ID</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">usuario</th>
              <th scope="col">Correo</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Celular</th>
              <th scope="col">Tipo de Usuario</th>
              <th scope="col">Estado</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for dat in usuarios %}
            <tr>
              <th scope="row">{{ dat[0] }}</th>
              <td>{{ dat[1] }}</td>
              <td>{{ dat[2] }}</td>
              <td>{{ dat[3] }}</td>
              <td>{{ dat[4] }}</td>
              <td> ********* </td>
              <!-- <td>{{ dat[5] }}</td> -->
              <td>{{ dat[6] }}</td>
              <td>{{ dat[7] }}</td>
              <td>{% if dat[8] == 'I'%}Inactivo{% endif%}{% if dat[8] == 'A'%}Activo{% endif%}</td>
              <td><a href="{{ url_for('editar_usuario', id=dat[0]) }}">Editar</a> - <a href="{{ url_for('eliminar_usuario', id=dat[0], estado=dat[8]) }}">{% if dat[8] == 'I'%}Mostrar{% endif%}{% if dat[8] == 'A'%}Ocultar{% endif%}</a></td>
            </tr>
            {% endfor %}            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario">
      Agregar
    </button>
  </div>

  <!-- Modal agregar vuelo -->
  <div class="modal fade " id="agregarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Agregar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <!-- Form de agregar vuelo -->
          <form  class="needs-validation" novalidate action="{{url_for('dashboard_usuarios')}}" method="post">

            {% for msg in get_flashed_messages() %}
            <div class='form-row'>
                {{ msg }}
            </div>
            {% endfor %}

            <div class="form-row">
              <div class="col">
                {{form.id.label}}
                {{form.id}}
                <div class="invalid-feedback">
                </div>
              </div>
              <div class="col">
                {{form.nombres.label}}
                {{form.nombres}}
                <div class="invalid-feedback">
                    El nombre es requerido
                </div>
              </div>
              <div class="col">
                {{form.apellidos.label}}
                {{form.apellidos}}
                <div class="invalid-feedback">
                    El apellido es requerido
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                {{form.usuario.label}}
                {{form.usuario}}
                <div class="invalid-feedback">
                    El usuario es requerido
                </div>
              </div>
              <div class="col">
                {{form.email.label}}
                {{form.email}}
                <div class="invalid-feedback">
                    El correo es requerido
                </div>
              </div>
              <div class="col">
                {{form.clave.label}}
                {{form.clave}}
                <div class="invalid-feedback">
                    La clave es requerida
                </div>
              </div>              
            </div>

            <div class="form-row">
              <div class="col">
                {{form.numero.label}}
                {{form.numero}}
                <div class="invalid-feedback">
                    El número de teléfono es requerido
                </div>
              </div>
              <div class="col">
                {{form.tipoUsuario.label}}
                {{form.tipoUsuario}}
                <!-- <select class="form-control" id="tipoUsuario">
                  <option value="p"> Piloto</option>
                  <option value="c"> Usuario</option>
                  <option value="a"> Super Usuario</option>
                </select> -->
              </div>
              <div class="col">

              </div>
            </div>




          
          <!-- Fin del form agregar vuelo -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          {{form.btn(class='btn btn-primary')}}
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- Fin del modal de agregar vuelos -->

  <!-- Modal eliminar vuelo  -->
  <div class="modal" tabindex="-1" role="dialog" id="eliminarUsuario">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Esta seguro que desea ocultar el siguiente Usuario?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin modal eliminar vuelo -->

</div>
<script type="module">
  import { class_to_active_link, addCloseToNav } from '../static/js/script.js'

  let dashboard_pages = document.querySelectorAll('div.sidebar > ul > li > a');

  class_to_active_link(dashboard_pages, 'active');
  addCloseToNav();
</script>
{% endblock %}