{% extends 'dashboard.html' %}

{% block content %}

<div class="col p-2 m-2">
    <div class="container">
        <div class="row">
            <div class="col text-center pt-4">
                <h1>Editar Avión</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col pt-4">
                <form class="needs-validation" novalidate action="{{url_for('editar_vuelo', id=vuelo[0][0])}}" method="post">

                    {% for msg in get_flashed_messages() %}
                    <div class='form-row'>
                        {{ msg }}
                    </div>
                    {% endfor %}
        
                    <div class="form-row">
                        <div class="col">
                            {{form.id.label}}
                            {{form.id(value= vuelo[0][0], disabled = true)}}
                            <div class="invalid-feedback">
                                El ID es requerido
                            </div>
                        </div>
                        <div class="col">
                            {{form.origen.label}}
                            {{form.origen(value= vuelo[0][2])}}
                            <div class="invalid-feedback">
                                La ciudad de salida es requerida
                            </div>
                        </div>
                        <div class="col">
                            {{form.destino.label}}
                            {{form.destino(value= vuelo[0][1])}}
                            <div class="invalid-feedback">
                                La ciudad de destino es requerida
                            </div>
                        </div>
                    </div>
        
                    <div class="form-row">
                        <div class="col">
                            {{form.cupos.label}}
                            {{form.cupos(value= vuelo[0][6])}}
                            <div class="invalid-feedback">
                                Los cupos son requeridos
                            </div>
                        </div>
                        <div class="col">
                            {{form.avion.label}}
                            {{form.avion(value= vuelo[0][3])}}
                            <div class="invalid-feedback">
                                El id del avión es requerido
                            </div>
                        </div>
                        <div class="col">
                            {{form.piloto.label}}
                            {{form.piloto(value= vuelo[0][4])}}
                            <div class="invalid-feedback">
                                El id del piloto es requerido
                            </div>
                        </div>
                    </div>
        
                    <div class="form-row">
                      
                        <div class="col">
                            {{form.fechaSalida.label}}
                            {{form.fechaSalida(value= vuelo[0][5])}}
                            <div class="invalid-feedback">
                                El id del avión es requerido
                            </div>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>

                    <div class="form-row">
                        <a href="{{ url_for('dashboard_vuelos') }}" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                        {{form.btn(class='btn btn-primary')}}
                    </div>
                </form>
                <!-- Fin del form agregar vuelo -->
            </div>
            <div class="col-2"></div>  
        </div>     
    </div>
</div>




<script type="module">
    import { class_to_active_link, addCloseToNav } from '../static/js/script.js'
  
    let dashboard_pages = document.querySelectorAll('div.sidebar > ul > li > a');
  
    class_to_active_link(dashboard_pages, 'active');
    addCloseToNav();
</script>
{% endblock %}