<div class="row mt-auto pt-4">

    <div class="col-lg-4 text-center">
        <h5>Caracteristicas</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Nuestro aviones</a></li>

            <li><a class="text-muted" href="#">Trabajo en equipo</a></li>

            <li><a class="text-muted" href="#">Nuestro precios</a></li>
            <li><a class="text-muted" href="#">Experiencias</a></li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Informacion de seguridad</a></li>
            <li><a class="text-muted" href="#">Politicas de privacidad</a></li>
            <li><a class="text-muted" href="#">Enfoque en salud</a></li>
            <li><a class="text-muted" href="#">Medio ambiente</a></li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h5>Sobre nosotros</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Equipo</a></li>
            <li><a class="text-muted" href="#">Hubicaciones</a></li>
            <li><a class="text-muted" href="#">Terminos y condiciones</a></li>
            <li><a class="text-muted" href="#">Legal</a></li>
        </ul>
    </div>
</div>