{% extends 'index.html' %}

{% block head %}

<title>Home</title>
{% endblock %}

{% block body %}

<div class="row justify-content-lg-center align-items-center my-3">
    <div class="col-lg-6 col-sm-12 mb-lg-0 mb-sm-3 mb-3">
        <h2 class="text_purple text-center">
            Llega a tus destinos <br>
            más rápido que nunca
        </h2>
        <p class="text-left"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quasi. Ipsum non eum
            delectus
            consequuntur. Tenetur ullam, obcaecati et sunt dolorum repudiandae </p>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-secondary shadow">Leer más</button>
        </div>



    </div>
    <div class="col-lg-5 col-sm-12 card text-white bg_purple radius_25 mx-auto" style="max-width: 25rem;">
        <div class="row justify-content-center pb-2">
            <h4 class="col-lg-12 text-center">Buscar vuelo</h4>


            <div class="col-lg-6 mb-2 ">
                <label for="ciudad_origen">Origen</label>
                <select class="custom-select w-100 radius_25 input_text shadow" id="ciudad_origen" required>
                    <option value="">Ciudad...</option>
                    <option>Bogota</option>
                    <option>Medellin</option>
                    <option>Pasto</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid country.
                </div>
            </div>
            <div class="col-lg-6  mb-2">
                <label for="ciudad_destino">Destino</label>
                <select class="custom-select w-100 radius_25 input_text shadow" id="ciudad_destino" required>
                    <option value="">Ciudad...</option>
                    <option>Bogota</option>
                    <option>Medellin</option>
                    <option>Pasto</option>
                </select>
                <div class="invalid-feedback">
                    Por favor selecione una opcion
                </div>
            </div>


            <div class="md-form col-lg-6 md-outline datepicker shadow mb-2">
                <label for="example">Fecha de ida</label>
                <input placeholder="Select date" type="date" id="example" class="form-control input_text radius_25">

            </div>

            <div class="md-form col-lg-6 datepicker shadow mb-2">
                <label for="example">Fecha de vuelta</label>
                <input placeholder="Select date" type="date" id="example" class="form-control input_text radius_25">
            </div>




            <div class="col-lg-6  mb-2">
                <label for="clase">Clase</label>
                <select class="custom-select w-100 radius_25 input_text shadow" id="clase" required>
                    <option value="">Elegir...</option>
                    <option>Economica</option>
                    <option>Ejecutiva</option>
                </select>
                <div class="invalid-feedback">
                    Por favor selecione una opcion
                </div>
            </div>

            <div class="col-lg-3 mb-2 ">
                <label for="adultos">Adultos</label>
                <select class="custom-select w-100 radius_25 input_text shadow" id="adultos" required>
                    <option value="">?...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <div class="invalid-feedback">
                    Por favor selecione una opcion
                </div>
            </div>
            <div class="col-lg-3  mb-2">
                <label for="ninos">niños</label>
                <select class="custom-select w-100 radius_25 input_text shadow" id="ninos" required>
                    <option value="">?...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <div class="invalid-feedback">
                    Por favor selecione una opcion
                </div>
            </div>
            <button class="btn bg_green_yellow radius_15 shadow mb-2 d-flex align-items-center mt-1" type="submit">
                <i class="bi bi-search mr-1 pb-1"></i>
                Buscar</button>

        </div>
    </div>

</div>
<hr class="bg_purple">

<div class="row my-5">
    <div class="col-lg-4 d-flex flex-row">
        <div class="radius_20 box bg_purple d-flex justify-content-center align-content-center mr-2 shadow">
            <i class="bi bi-search bootstrap_icon"></i>
        </div>

        <div class="home_cards">
            <h6>Busca vuelos a mas de 32 <br>
                destinos nacionales</h6>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat provident? In atque hic
                cumque id</small>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-row">
        <div class="radius_20 box bg_purple d-flex justify-content-center align-content-center mr-2 shadow">
            <i class="bi bi-headset bootstrap_icon"></i>
        </div>

        <div class="home_cards">
            <h6>Soporte<br> las 24 / 7</h6>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat provident? In
                atque hic
                cumque id</small>
        </div>
    </div>
    <div class="col-lg-4 d-flex flex-row">

        <div class="radius_20 box bg_purple d-flex justify-content-center align-content-center mr-2 shadow">
            <i class="bi bi-wallet2 bootstrap_icon"></i>
            <!-- <i class="bi bi-piggy-bank bootstrap_icon"></i> -->
        </div>

        <div class="home_cards">
            <h6>Tiquetes <br>
                Economicos</h6>
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat provident? In atque hic
                cumque id</small>
        </div>
    </div>
</div>




<div class="row mt-5">

    <div class="col-lg-4 text-center">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>

            <li><a class="text-muted" href="#">Team feature</a></li>

            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
    </div>
    <div class="col-lg-4 text-center">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
    </div>
</div>


</div>
{% endblock %}