<div class="row">
    <header class="masthead mb-auto col-lg-12">

        <div class="d-flex justify-content-center flex-md-row text-md-left flex-column text-center ">
            <h3 class="masthead-brand">Vuelos</h3>
            <nav class="nav nav-masthead mx-auto">
                <a class="nav-link" href="home">Inicio</a>
                <a class="nav-link" href="#">Vuelo</a>
                <a class="nav-link" href="precio">Precio</a>
                <a class="nav-link" href="opiniones">Opiniones</a>

            </nav>
            <a class=" nav-link mr-2" href="#">Registrarse</a>
            <div class=" box_border radius_20 input_text d-flex flex-row">
                <i class="bi bi-person-fill text_purple mr-1"></i>
                <a class=" nav-link px-0 py-0 font-weight-bold text_purple pr-1" href="../login">Login</a>
            </div>
        </div>
    </header>
</div>
<script type="module">
    import { class_to_active_link } from '../static/js/script.js'

    let nav_pages = document.querySelectorAll('.nav-masthead a');

    class_to_active_link(nav_pages, 'active');
</script>

<script>
    var path = window.location.pathname;
    var page = path.split("/").pop();

    if (page == "login") {
        document.querySelector('.nav-masthead registrase').style.visibility = 'hidden';
        document.querySelector('.nav-masthead login').style.visibility = 'hidden';
    }
</script>