<div class="row">
    <header class="masthead mb-auto col-lg-12">

        <div id="nav_container" class="d-flex justify-content-center flex-md-row text-md-left flex-column text-center ">
            <a class="masthead-brand h3 link-unstyled, link-unstyled:link, link-unstyled:hover"
                href="../home">Vuelos</a>
            <nav class="nav nav-masthead mx-auto">
                <a class="nav-link" href="../home">Inicio</a>
                <a class="nav-link" href="../vuelo">Vuelo</a>
                <a class="nav-link" href="../precio">Precio</a>
                <a class="nav-link" href="../opiniones">Opiniones</a>

            </nav>
            <a class=" nav-link mr-2 re1" href="#" id="registrarse">Registrarse</a>
            <div class=" box_border radius_20 input_text d-flex flex-row" id="login_container">
                <i class="bi bi-person-fill text_purple mr-1"></i>
                <a class=" nav-link px-0 py-0 font-weight-bold text_purple pr-1 lo1" href="../login"
                    id="login">Login</a>
            </div>
        </div>
    </header>
</div>

<script>
    var path = window.location.pathname;
    var page = path.split("/")[1];

    if (page == "login" || page == "login_admin" || page == "dashboard_home" || page == "dashboard_aviones" || page == "dashboard_pilotos" || page == "dashboard_usuarios" || page == "dashboard_vuelos" || page == "dashboard" || page == "mis_reservas") {

        document.querySelector('#registrarse').style.visibility = 'hidden';
        document.querySelector('#login').style.visibility = 'hidden';
        document.querySelector('#login_container').style.visibility = 'hidden';
    }

</script>

<script type="module">
    import { class_to_active_link, addCloseToNav } from '../static/js/script.js'

    let nav_pages = document.querySelectorAll('#nav_container > nav > a.nav-link');

    class_to_active_link(nav_pages, 'active');

</script>