<div class="row">
    <header class="masthead mb-auto col-lg-12">

        <div class="d-flex justify-content-center flex-md-row text-md-left flex-column text-center ">
            <h3 class="masthead-brand">Vuelos</h3>
            <nav class="nav nav-masthead mx-auto">
                <a class="nav-link" href="home">Inicio</a>
                <a class="nav-link" href="#">Vuelo</a>
                <a class="nav-link" href="precio">Precio</a>
                <a class="nav-link" href="opiniones">Opiniones</a>

            </nav>
            <a class="nav-link mr-2" href="#">Salir</a>
        </div>
    </header>
</div>