<div class="row pb-4">
    <header class="masthead mb-auto col-lg-12">

        <div class="d-flex justify-content-center flex-md-row text-md-left flex-column text-center ">
            <h3 class="masthead-brand">Vuelos</h3>
            <nav class="nav nav-masthead mx-auto">
                <a class="nav-link active" href="/usuario_piloto">Inicio</a>
                <a class="nav-link" href="/usuario_piloto">Vuelo</a>
                <a class="nav-link" href="/perfil">Perfil</a>

            </nav>
            <img src='/static/img/icon.png' class='imgUser mr-2' />
            <a class="nav-link m-2" href="#">Salir</a>
        </div>
    </header>
</div>